/dist
/node_modules
logs
!bin/node/logs
*.log
npm-debug.log*
.DS_Store
/coverage
/.nyc_output
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json